{
  key_type p256
  admin off
  email {$ACME_EMAIL}
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# snippets
(tls) {
  tls {
    protocols tls1.3
  }
}

(security-headers) {
  header {
    # No cookies!
    -Set-Cookie

    # Remove Server header
    -Server

    # enable HSTS
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

    # disable clients from sniffing the media type
    X-Content-Type-Options "nosniff"

    # clickjacking protection
    X-Frame-Options "DENY"

    Referrer-Policy "no-referrer"

    # Disable unnecessary browser feature
    # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy
    Permissions-Policy "fullscreen=(), geolocation=()"
  }
}

{$DOMAIN} {
  import tls
  import security-headers
  root * /srv
  file_server
  header {
    Content-Security-Policy "default-src 'none'; img-src 'self' https://img.shields.io/; style-src 'self'; media-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;"
  }
}

bibliogram.{$DOMAIN} {
  reverse_proxy bibliogram:10407
  import tls
  import security-headers
  header {
    Onion-Location: "http://{$ONION_LOCATION_BIBLIOGRAM}{http.request.uri.path}"
  }
}

http://{$ONION_LOCATION_BIBLIOGRAM} {
  reverse_proxy bibliogram:10407
  import security-headers
}


meet.{$DOMAIN} {
  reverse_proxy web:80
  import tls
  import security-headers
  header {
    Content-Security-Policy "default-src 'none'; img-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; media-src 'self'; base-uri 'self'; form-action 'none'; frame-ancestors 'none'; font-src 'self'; connect-src 'self'; upgrade-insecure-requests;"
  }
}


nitter.{$DOMAIN} {
  reverse_proxy nitter:8080
  import tls
  import security-headers
  header {
    Content-Security-Policy "default-src 'none'; img-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' blob:; font-src 'self'; media-src 'self' blob:; base-uri 'none'; frame-ancestors 'none'; form-action 'self'; connect-src 'self'; upgrade-insecure-requests;
    Onion-Location: "http://{$ONION_LOCATION_NITTER}{http.request.uri.path}"
  }
}

http://{$ONION_LOCATION_NITTER} {
  reverse_proxy nitter:8080
  import security-headers
}


libreddit.{$DOMAIN} {
  reverse_proxy libreddit:8080
  import tls
  import security-headers
  header {
    Onion-Location: "http://{$ONION_LOCATION_LIBREDDIT}{http.request.uri.path}"
  }
}

http://{$ONION_LOCATION_LIBREDDIT} {
  reverse_proxy libreddit:8080
  import security-headers
}


whoogle.{$DOMAIN} {
  reverse_proxy whoogle-search:5000
  import tls
  import security-headers
  header {
    Onion-Location: "http://{$ONION_LOCATION_WHOOGLE}{http.request.uri.path}"
  }
}

http://{$ONION_LOCATION_WHOOGLE} {
  reverse_proxy whoogle-search:5000
  import security-headers
}
