{
  key_type p256
  admin off
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# snippets
(tls) {
  tls {
    dns gandi {env.GANDI_BEARER_TOKEN}
    protocols tls1.3
  }
}

(security-headers) {
  header {
    # No cookies!
    #-Set-Cookie

    # Remove Server header
    -Server
    -Via

    # enable HSTS
    Strict-Transport-Security "max-age=63072000; includeSubDomains;"

    # disable clients from sniffing the media type
    X-Content-Type-Options "nosniff"

    # clickjacking protection
    X-Frame-Options "DENY"

    Referrer-Policy "no-referrer"

    # Disable unnecessary browser feature
    # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy
    Permissions-Policy "fullscreen=(), geolocation=()"
  }
}

(geofilter) {

  @geofilter {
    not maxmind_geolocation {
      db_path "/config/GeoLite2-Country.mmdb"
        allow_countries DE
    }
  }

  header  @geofilter Content-Type text/html
  respond @geofilter <<HTML
    <html>
    <head><title>Blocked</title></head>
    <body><img src="https://http.cat/403" alt="blocked"/></body>
    </html>
    HTML 403
}


redlib.{$DOMAIN} {
  import geofilter

  reverse_proxy redlib:8080
  import tls
  import security-headers
  header {
    X-Robots-Tag "none"
  }
}

whoogle.{$DOMAIN} {
  import geofilter

  reverse_proxy whoogle-search:5000
  import tls
  import security-headers
  header {
    #-Set-Cookie
    Onion-Location: "http://{$ONION_LOCATION_WHOOGLE}{http.request.uri.path}"
    Content-Security-Policy "default-src 'none'; base-uri 'none'; img-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self'; media-src 'self'; connect-src 'self'; form-action 'self'; frame-ancestors 'none'; upgrade-insecure-requests;"
    X-Robots-Tag "none"
  }
}

{$DOMAIN} {
  import geofilter

  respond "ok, hi! you have found a random server ..."

  # DNS-over-HTTPS
  # tailing wildcard (*) to allow adguard home's clientid protection
  handle /dns-query* {
    reverse_proxy adguard:300
  }

  import tls
  import security-headers
  header {
    X-Robots-Tag "none"
    #Content-Security-Policy "default-src 'none';"
  }
}

karakeep.{$DOMAIN} {
  import geofilter
  
  reverse_proxy karakeep-app-karakeep-1:3000

  import tls
  import security-headers
  header {
    X-Robots-Tag "none"
    #Content-Security-Policy "default-src 'none';"
  }
}

gotify.{$DOMAIN} {
  reverse_proxy gotify:80

  import tls
  import security-headers
  header {
    X-Robots-Tag "none"
    #Content-Security-Policy "default-src 'none';"
  }
}


navidrome.{$DOMAIN} {
  reverse_proxy navidrome:4533

  import tls
  import security-headers
  header {
    X-Robots-Tag "none"
    #Content-Security-Policy "default-src 'none';"
  }
}
