{
  key_type p256

  admin off

  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

  dns gandi {env.GANDI_BEARER_TOKEN}

  log {
    output stdout
    format console
  }
}

:80 {
  header -Server
}

# snippets
(tls) {
  tls {
    protocols tls1.3
  }
}

(security-headers) {
  header {
    X-Robots-Tag "none"

    # No cookies!
    #-Set-Cookie

    # Remove Server header
    -Server
    -Via

    # enable HSTS
    Strict-Transport-Security "max-age=63072000; includeSubDomains;"

    # disable clients from sniffing the media type
    X-Content-Type-Options "nosniff"

    # clickjacking protection
    X-Frame-Options "DENY"

    Referrer-Policy "no-referrer"

    # Disable unnecessary browser feature
    # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy
    Permissions-Policy "fullscreen=(), geolocation=()"
  }
}

(geofilter) {

  @geofilter {
    not maxmind_geolocation {
      db_path "/config/GeoLite2-Country.mmdb"
      allow_countries DE
    }
    not remote_ip 172.20.0.1  # allow Gatus Monitoring
  }

  header @geofilter Content-Security-Policy "default-src 'none'; img-src 'https://http.cat';"

  header @geofilter Content-Type text/html
  respond @geofilter <<HTML
    <html>
    <head><title>Blocked</title></head>
    <body><img src="https://http.cat/403" alt="blocked"/></body>
    </html>
    HTML 403
}

whoogle.{$DOMAIN} {
  import geofilter

  reverse_proxy whoogle-search:5000
  import security-headers
  header {
    #-Set-Cookie
    Onion-Location: "http://{$ONION_LOCATION_WHOOGLE}{http.request.uri.path}"
    Content-Security-Policy "default-src 'none'; base-uri 'none'; img-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self'; media-src 'self'; connect-src 'self'; form-action 'self'; frame-ancestors 'none'; upgrade-insecure-requests;"
  }
}

{$DOMAIN}, *.{$DOMAIN} {
  import geofilter
  import security-headers

  header Content-Security-Policy "default-src 'none';"

  respond "ok, hi! you have found a random server ..."

  # DNS-over-HTTPS via Adguard Home
  vars {
    # Generate a secure token with: openssl rand -hex 32
    auth_token {$CADDY_ADGUARD_HOME_DOH_AUTH_TOKEN}
  }

  @auth_token path /{http.vars.auth_token}*

  handle @auth_token {

    uri strip_prefix /{http.vars.auth_token}

    handle /dns-query* {
      reverse_proxy adguard:3000 {
        # For proper client IP tracking:
        header_up Host {upstream_hostport}
        header_up X-Real-IP {http.request.remote.host}
      }
    }
    handle {
      # Requests with valid token but invalid path
      respond "Invalid request" 400
    }
  }

}

#netbird.{$DOMAIN} {
#    # Native gRPC (needs HTTP/2 cleartext to backend)
#    @grpc header Content-Type application/grpc*
#    reverse_proxy @grpc h2c://netbird-server:80
#
#    # Combined server paths (relay, signal, management, OAuth2)
#    @backend path /relay* /ws-proxy/* /api/* /oauth2/*
#    reverse_proxy @backend netbird-server:80
#
#    # Dashboard (everything else)
#    reverse_proxy /* netbird-dashboard:80
#}
