---
services:
  caddy:
    #image: caddy:latest
    build: .
    container_name: caddy
    restart: on-failure:5
    pids_limit: 50
    mem_limit: 128mb
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    read_only: true
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy_data:/data:rw
      - ./caddy_config:/config:rw
    ports:
      - 80:80
      - 443:443
    env_file: .env
    environment:
      # following env vars are defined in /etc/environment
      - DOMAIN
      - ONION_LOCATION_BIBLIOGRAM
      - ONION_LOCATION_LIBREDDIT
      - ONION_LOCATION_NITTER
      - ONION_LOCATION_WHOOGLE
    networks:
      - adguardhome
      - redlib
      - whoogle
      - karakeep
      - gotify
      - navidrome

networks:
  adguardhome:
    external: true
  redlib:
    external: true
  whoogle:
    external: true
  karakeep:
    external: true
  gotify:
    external: true
  navidrome:
    external: true
