services:
    snowflake-proxy:
        network_mode: host
        image: containers.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake:latest
        container_name: snowflake-proxy
        restart: unless-stopped
        labels:
          - "com.centurylinklabs.watchtower.enable=true"
        read_only: true
        security_opt:
          - no-new-privileges
        cap_drop:
          - ALL
        command:
        # For a full list of Snowflake Proxy CLI parameters see
        # https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake/-/tree/main/proxy?ref_type=heads#running-a-standalone-snowflake-proxy
          - "-ephemeral-ports-range"
          - "30000:60000"
          - "-summary-interval"
          - "6h"
