---
# from https://github.com/benbusby/whoogle-search/blob/main/docker-compose.yml

services:
  whoogle-search:
    image: benbusby/whoogle-search:latest
    container_name: whoogle-search
    restart: on-failure:5
    pids_limit: 30
    mem_limit: 256mb
    memswap_limit: 256mb
    user: whoogle
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    #read_only: true
    env_file: .env
    environment:
      - HTTPS_ONLY=1
      # Site alternative configurations. Define values in .env file.
      # Note: If not set, the feature will still be available
      # with default values.
      # Set WHOOGLE_ALT_* to "" to disable.
      - WHOOGLE_ALT_TW=nitter.net
      - WHOOGLE_ALT_IG=imginn.com
      - WHOOGLE_ALT_TL
      - WHOOGLE_ALT_WIKI
      - WHOOGLE_CONFIG_COUNTRY=countryDE
      - WHOOGLE_CONFIG_LANGUAGE=""
      - WHOOGLE_CONFIG_ALTS=1
      - WHOOGLE_CONFIG_URL=https://whoogle.${DOMAIN:-DOMAIN_UNDEFINED}/
      - WHOOGLE_TOR_SERVICE=0
      - WHOOGLE_CONFIG_BLOCK=bild.de
      - WHOOGLE_CONFIG_SHOW_USER_AGENT=1
        #- WHOOGLE_USER_AGENT="BlackBerry7100/4.0.0 Profile/MIDP-2.0 Configuration/CLDC-1.1"
        #- WHOOGLE_USER_AGENT_MOBILE="BlackBerry7100/4.0.0 Profile/MIDP-2.0 Configuration/CLDC-1.1"
      # CSP is set in caddy
      #- WHOOGLE_CSP="default-src 'none'; img-src 'self'; style-src 'self'; script-src 'self'; media-src 'self'; connect-src 'self'; form-action 'self'; upgrade-insecure-requests;"
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.whoogle.entrypoints: https
      traefik.http.routers.whoogle.rule: Host(`whoogle.${DOMAIN:-DOMAIN_UNDEFINED}`)
      traefik.http.routers.whoogle.tls: true
      traefik.http.routers.whoogle.tls.certresolver: le
      traefik.http.routers.whoogle.middlewares: common-security-headers@file,whoogle-onion-location@docker
      traefik.http.middlewares.whoogle-onion-location.headers.customresponseheaders.Onion-Location: 'http://${ONION_LOCATION_WHOOGLE:-UNDEFINED}'
    networks:
      - whoogle

networks:
  whoogle:
    name: whoogle
    driver: bridge
